body {
  font-family: 'Bai Jamjuree', sans-serif;
  display: flex;
  flex-flow: column;
  align-content: center;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

th {
  padding: 0 50px;
}

#options {
  padding-right: 2em;
}

.results {
  text-align: center;
  flex-grow: 3;
}